.wrapper-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000000000000000000;
}
.wrapper {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 16px;
    color: var(--black);
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 12px;
    border: 0.5px solid rgba(0, 0, 0, 0.178);
    transition: all 0.3s ease-in-out;
    animation: identifier 0.3s ease;

    .header {
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d4d4d4d8;
    }
    .Btn {
        min-width: 0;
        border: none;
        box-shadow: none;
    }
    .content {
        font-size: 16px;
        color: #555;
        line-height: 1.6;
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
        padding: 10px;
    }
    .footer {
        display: flex;
        justify-content: end;
        align-items: center;
        border-top: 1px solid #d4d4d4d8;
    }
}
@keyframes identifier {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
