.wrapper {
    height: 100%;
    padding: 20px 0 26px 8px;
    margin-left: -18px;
    background-color: var(--nav-sidebar);
    white-space: nowrap;
}

.icon-wh {
    margin-left: 1.8rem;
    width: 2.4rem;
    height: 2.4rem;
}
